/* 
span{
    color: aquamarine;
}


 h3{
            color: blue;
        }
a,li{
    color: rgb(211, 198, 17);
}
.hello {
    color: rgb(255, 0, 0); 
}
#nihal{
    color: rgb(182, 229, 206);
}
#byye{
    color: tomato ;
}
.hello2{
    background-color: black;
    color: aliceblue;
} */
 /* div p{
    color: rgb(34, 11, 233);
 } */
  div > p{
     color: rgb(34, 11, 233);
  }
  h1:hover{
    background-color: rgb(19, 229, 26);
  }